h1 {
  color:green;
  text-align: center;
}
h2 {
  color:black;
  text-align: center;
  font-style: italic;
}
h3 {
  color:blue;
}
p {
  font-size: 120%
}

ul{
  color: purple;
}

body {
  font-family: Helvetica Neue, Ariel;
  font-size: 18px;
  background-color: rgba(255, 255, 128, .5);
}

p {
  text-indent: 50px;
  text-align: justify;
}
.main-text{
  text-align:justify;
}
.cl{
  color: rebeccapurple;
}
.cat{
background-color: rgba(255, 255, 128, .5);
}
